.contribution-graph {
    border-collapse: separate;
    border-spacing: 3px;
}

.contribution-calendar-label {
    position: relative;
    font-size: 0.75rem;
    line-height: 18px;
    padding: .125em .5em .125em 0;

    span {
        position: absolute;
        bottom: -3px;
        top: 0;
    }
}

.contribution-calendar-day {
    shape-rendering: geometricPrecision;
    border-radius: 2px;
    background-color: #151b23;
    border: 0.5px solid #ffffff0d;
}
