.contribution-graph {
    border-collapse: separate;
    border-spacing: 3px;
}

.contribution-calendar-label {
    position: relative;
    font-size: 0.75rem;
    line-height: 18px;
    padding: .125em .5em .125em 0;

    span {
        position: absolute;
        bottom: -3px;
        top: 0;
    }
}

.contribution-calendar-day {
    shape-rendering: geometricPrecision;
    border-radius: 2px;
    background-color: #151b23;
    border: 0.5px solid #ffffff0d;
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 1;
    display: none;
    padding: .25em .5em;
    background: #3d444d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    top: -30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 99999;
}

.contribution-calendar-day:hover .tooltip {
    display: block;
}