.title {
    span {
        background: -webkit-linear-gradient(var(--clr-secondary), var(--clr-accent));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.profile-card {
    min-height: 210px;
    width: 389px;
    padding: 24px 16px;
    border-radius: 14px;
    background: hsl(255, 100%, 100%, 13%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(53px);
    -webkit-backdrop-filter: blur(53px);
    position: relative;
    z-index: 10;
}

.profile-card::after {
    content: '';
    height: 100%;
    position: absolute;
    inset: -15px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.12);
    z-index: -10;
}

.profile-card::before {
    content: '';
    position: absolute;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.2' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background: radial-gradient(circle at 50% 50%, var(--clr-secondary) 0px, var(--clr-accent) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
    filter: blur(90px);
    opacity: .5;
    z-index: -10;
}
